/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --green: #06A816;
    --orange: #E75D02;
    --white: #ffffff;
    --black: #000000;
    --header-font: 'Irish Grover';
    --content-font: 'Habibi';
    --header-logo-size: 2.5em;
    --header-size: 1.5em;
    --copy-size: 1.25em;
}

/*-------------------- CSS REST ---------------------------------------------------*/

.logo {
    font-family: var(--header-font);
    font-size: var(--header-logo-size);
    color: var(--white);
    text-shadow: 2px 2px 2px var(--black);
    margin: 20px;
}

.slogan {
    font-size: var(--header-size);
    color: var(--white);
}

.menu {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-button {
    font-family: var(--content-font);
    font-size: var(--header-size);
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--white);
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.menu-button:hover {
    background-color: var(--white);
    color: var(--green);
}

h1 {
    font-family: var(--header-font);
    font-size: var(--header-logo-size);
}

h2 {
    font-family: var(--header-font);
    font-size: var(--header-size);
}

h3 {
    font-family: var(--header-font);
    font-size: var(--header-size);
    text-align: center;
}

p {
    font-family: var(--content-font);
    font-size: var(--copy-size);
    color: var(--black);
}

body {
    font-family: var(--content-font);
    background-color: var(--white);
    color: var(--black);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--white);
    font-size: var(--copy-size);
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 10;
}

#back-to-top:hover {
    background-color: var(--white);
    color: var(--green);
    z-index: 10;
}

.copyright {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 10px;
    font-size: var(--copy-size);
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

@media (min-width: 428px) {
    header {
        padding: 0;
        background-color: var(--green);
        height: 150px;
    }

    .header-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .header-left {
        flex: 1;
        text-align: center;
        padding: 10px;
    }

    .header-content {
        flex-direction: column;
    }

    .menu-button {
        width: 300px;
    }

    .content-section {
        padding: 40px;
        background-color: var(--white);
        margin-top: 150px;
    }

    .fruit-grid, .vegetable-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .fruit-item, .vegetable-item {
        text-align: center;
        position: relative;
        padding: 20px;
    }

    .fruit-item img, .vegetable-item img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .fruit-name, .vegetable-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--white);
        font-size: var(--copy-size);
        line-height: 50px;
        text-align: center;
    }

    footer {
        background-color: var(--green);
        color: var(--white);
        padding: 20px;
        font-size: var(--copy-size);
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        flex: 1;
        padding: 10px;
    }
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media (min-width: 834px) and (max-width: 1279px) {
    header {
        height: 150px;
    }

    .header-content {
        flex-direction: column;
    }

    .menu {
        flex-direction: row;
        justify-content: center;
    }

    .menu-button {
        width: 300px;
    }

    .content-section {
        margin-top: 100px;
    }

    .footer-content {
        flex-direction: row;
        text-align: left;
    }
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media (min-width: 1280px) and (max-width: 1439px) {
    .header-content {
        flex-direction: row;
    }

    .menu {
        flex-direction: row;
        justify-content: center;
    }

    .menu-button {
        width: 300px;
    }

    .content-section {
        margin-top: 0px;
    }
    .footer-content {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-column {
        flex: 1;
    }
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

@media (min-width: 1440px) {
    .header-content {
        flex-direction: row;
    }

    .menu {
        flex-direction: row;
        justify-content: center;
    }

    .menu-button {
        width: 300px;
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-column {
        flex: 1;
    }
}
